.password-container {
	display: flex;
	flex-direction: column;
	text-align: left;
	width: 100%;
	margin-bottom: 20px;
}


.field-title {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}

.container-input {
	display: flex;
	align-items: center;
	border: 1px solid #ccc;
	border-radius: 6px;
	background-color: white;
	padding: 0 10px;
}

.input-password {
	flex: 1;
	padding: 10px;
	border: none;
	outline: none;
	font-size: 14px;
}

.eye-button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0 5px;
	display: flex;
	align-items: center;
}

.eye-icon {
	width: 20px;
	height: 20px;
}