.app-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.main-content {
    flex-grow: 1;
    overflow-y: auto;
}

.load-more {
    margin: 30px auto;
    display: block;
    background-color: #ffc831;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}